
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.count {
    font-style: italic;
    font-weight: 600;
    font-size: 15rem;
    color: #364fc7;
}

p {
 font-weight: 400;
 font-size: 2rem;
} 